
body {
    background-color:cadetblue;
    font-size: 25px;
}

button:hover {
    background-color: aquamarine;
}

.delete_btn {
    display: inline-block;
    margin-left: 200px;
}
ul {
    list-style: none;
    padding-left: 10px;
}

li {
    width: 300px;
}

.line-through {
    text-decoration: line-through;
}

